.titulo1 {
  border-radius: 3px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  background-color: yellow;
}
.texto {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-break: 1.2;
}
