footer {
  background: #cac1bb;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.footer-container {
  max-width: 1200px;
  padding: 20px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.footer-container a {
  text-decoration: none;
  text-align: left;
  font-size: 1.5rem;
  color: #9e9286;
}
.footer-container h2 {
  color: #9e9286;
  text-align: left;
  margin-bottom: 2rem;
}
.email {
  text-align: left;
  grid-column: 1;
  padding: 10px 0px;
}
.footer-container ul {
  display: flex;
  gap: 15px;
  text-align: left;
  line-height: 1.5;
  grid-column: 1;
}
.footer-copy {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #a09292c5;
  grid-column: 1 / -1;
  text-align: left;
  margin-top: 80px;
}
.footer-container span {
  font-size: 1rem;
  font-family: GTZirkon-Bold;
  src: url(../public/fonts/GTZirkon-Bold.ttf);
  color: #33302d;
  line-height: 2.3;
}
a:hover {
  color: #d6a476;
}
.up {
  align-items: center;
}
@media (max-width: 700px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .up {
    justify-items: center;
    margin-right: 100px;
  }
}
