.footer {
  display: flex;
  box-sizing: border-box;
  margin-top: 200px;
  justify-content: center;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.footer-copy {
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.iconefooter {
  color: #1f1f1f;
  margin-left: 20px;
}
