.name-tittle {
  display: grid;
}
.name {
  font-size: 4.5rem;
  line-height: 1.125;
  font-family: georgiab;
  src: url(../public/fonts/georgiab.ttf);
  text-align: center;
  margin-top: 15%;
  color: #b1a59d;
}
.name-name {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 500px;
  color: #c8c2bd;
}

@media (max-width: 700px) {
  .name {
    font-size: 2.5rem;
    align-items: center;
  }
  .name-name {
    font-size: 1.2rem;
    line-height: 1;
  }
}
