a,
li {
  text-decoration: none;
}

#menu {
  display: flex;
  flex-direction: row;
  font-family: GTZirkon-thin;
  font-weight: 700;
  gap: 20px;
  padding: 100px;
  justify-content: center;
}
#menu a {
  color: #dea057;
  padding: 0.5rem;
}
#menu a:hover {
  color: #a64b2a;
}

@media (max-width: 700px) {
  #nav {
    display: none;
  }
}
