.imagemproduto {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  order: 1;

  max-width: 350px;
  max-height: 350px;
  min-height: 350px;
  min-width: 350px;
  width: auto;
  height: auto;
}
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 800px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
}
