.paragrafo {
  font-size: 3rem;
  margin-top: 200px;
}
.icons,
icones-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 10px;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.icones {
  color: #1f1f1f;
  font-size: 3rem;
}
.icones-2 {
  font-size: 4rem;
  color: #454545;
}

@media (max-width: 800px) {
  .paragrafo {
    font-size: 1.5rem;
  }
}
