.container-fluid {
  background-color: #ede6db;
}
#works {
  font-family: GTZirkon-Thin;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 300px 200px;
  line-height: 2.5;
}
