.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  padding: 70px;
  align-items: center;
  background: #fafafa;
  background-image: url("/public/img/pattern-work.svg");
  background-repeat: repeat;
}
.word-works {
  font-size: 3rem;
  grid-row: 2;
  grid-column: 1;
  margin-bottom: 250px;
  margin-right: 100px;
  color: #aea39f;
}
.layout p {
  margin-top: 50px;
  font-size: 3rem;
  font-family: GTZirkon-Thin;
  src: url(../public/fonts/GTZirkon-Thin.ttf);
  grid-column: 1;
  grid-row: 2;
  color: #bdb3ae;
}
.arrow {
  text-decoration: none;
  font-size: 1.5rem;
  color: #cc8849;
  font-family: GTZirkon-Bold;
  src: url(../public/fonts/GTZirkon-Bold.ttf);
  grid-column: 1/-1;
  grid-row: 2;
  margin-top: 400px;
}
.word-works::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 1.5rem;
  height: 0.2rem;
  background-color: #d6a476;
}
@media (max-width: 700px) {
  .layout {
    grid-template-columns: 1fr;
    align-items: center;
    flex-wrap: wrap;
  }
  .arrow {
    margin-top: 600px;
  }
  .layout p {
    margin-bottom: 150px;
  }
  .work {
    flex-wrap: wrap;
  }
  .word-works {
    margin-bottom: 700px;
  }
}
